{% extends "base.html" %}
{% load static %}
{% block title %}Veículos - Rede Sigma{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/operacoes/operacao_compra.css' %}">
{% endblock %}
{% block content %}
<body>
<h1>Pedidos</h1>
<div class="container">
    <!-- Botão para nova operação de venda -->
    <a href="{% url 'fazer_pedido_create' %}" class="new-operation-button">Registrar Novo Pedido</a>

    <!-- Lista de Operações de Venda Realizadas -->
    <div class="operation-list">
        <h2>Pedidos realizadas</h2>
        {% for pedido in pedidos %}
        <div class="operation-item">
            <div class="operation-info">
                <strong>Data do pedido:</strong> {{ pedido.data}} <br>
                <strong>cliente:</strong> {{ pedido.cliente.nome}} <br>
                <strong>vendedor (CPF):</strong> {{ pedido.vendedor.nome}} <br>
                <strong>montadora (Código):</strong> {{ pedido.montadora.razao_social}} <br>
                <strong>modelo:</strong> {{ pedido.modelo }} <br>
                <strong>ano:</strong> {{ pedido.ano }} <br>
                <strong>cor:</strong> {{ pedido.cor }} <br>
                <strong>acessorios:</strong> {{ pedido.acessorios }} <br>
            </div>
            <div class="operation-buttons">
                <button class="edit-button"
                        onclick="window.location.href='{% url 'fazer_pedido_update' pedido.pk %}'">Editar
                </button>
                <button class="delete-button"
                        onclick="window.location.href='{% url 'fazer_pedido_delete' pedido.pk %}'">
                    Excluir
                </button>

            </div>
        </div>
        {% endfor %}
    </div>
    <a href="{% url 'operacoes_page' %}" class="btn back-btn">Voltar</a>
</div>
</body>
{% endblock %}
