{% extends "base.html" %}
{% load static %}
{% block title %}Veículos - Rede Sigma{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/operacoes/operacoes_home.css' %}">
{% endblock %}
{% block content %}
<body>
    <h1>Rede Sigma - Selecione uma Operação</h1>
    <div class="container">
        <!-- Botão para Operação de Venda -->
        <a href="{% url 'operacao_venda' %}" class="operation-button">Operação de Venda</a>

        <!-- Botão para Operação de Compra -->
        <a href="{% url 'operacao_compra' %}" class="operation-button">Operação de Compra</a>

        <!-- Botão para Pedido -->
        <a href="{% url 'fazer_pedido' %}" class="operation-button">Pedido</a>
    </div>
</body>
{% endblock %}

