{% extends "base.html" %}
{% load static %}
{% block title %}Veículos - Rede Sigma{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/veiculo/veiculo_detalhes.css' %}">

{% endblock %}
{% block content %}

    <main>
        <!-- Aplica a classe center-content aqui -->
        <section id="descricao" class="center-content">
            <img src="{{ veiculo.foto.url }}" alt="Imagem BMW Série 3" style="width:100%; max-width:400px;">
            <div class="car-specs">
                <h2 class="blue-text">{{ veiculo.marca }} {{ veiculo.modelo }} {{ veiculo.ano_modelo }}</h2>
                {% load currency %}
                <p class="blue-text">Preço: {{ veiculo.valor|currency }}</p>
            </div>
        </section>

        <section id="caracteristicas" class="center-content">
            <h3>Características</h3>
            <ul>
                <li>Motor: </li>
                <li>Potência: </li>
                <li>Transmissão: </li>
                <li>Consumo médio: </li>
                <li>Assentos: </li>
                <li>Tecnologias de Assistência ao Motorista: </li>
            </ul>
            <p>Caracteristicas.</p>
        </section>

        <section id="especificacoes" class="center-content">
            <h3>Especificações Técnicas</h3>
            <table>
                <tr>
                    <th>Dimensão</th>
                    <td>Dimensão</td>
                </tr>
                <tr>
                    <th>Peso</th>
                    <td>Peso</td>
                </tr>
                <tr>
                    <th>Capacidade do Porta-malas</th>
                    <td>Litros </td>
                </tr>
                <tr>
                    <th>Combustível</th>
                    <td>Gasolina, Diesel, Flex</td>
                </tr>
                <tr>
                    <th>Cor</th>
                    <td>Preto, Branco, Prata, Azul</td>
                </tr>
            </table>
        </section>

        <!-- Botão de Voltar para a página anterior -->
        <button onclick="window.history.back()" class="btn btn-custom center-content">Voltar aos veículos</button>
    </main>
{% endblock %}
