{% extends "base.html" %}
{% load static %}
{% block title %}Veículos - Rede Sigma{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/veiculo/veiculo_detalhes.css' %}">

{% endblock %}
{% block content %}

    <main>
        <!-- Aplica a classe center-content aqui -->
        <section id="descricao" class="center-content">
            <img src="{{ veiculo.foto.url }}" alt="Imagem BMW Série 3" style="width:100%; max-width:400px;">
            <div class="car-specs">
                <h2 class="blue-text">{{ veiculo.marca }} {{ veiculo.modelo }} {{ veiculo.ano_modelo }}</h2>
                {% load currency %}
                <p class="blue-text">Preço: {{ veiculo.valor|currency }}</p>
            </div>
        </section>

        <section id="caracteristicas" class="center-content">
            <h3>Características</h3>
            <ul>
                <li>Motor: 2.0 Turbo</li>
                <li>Potência: 204 cv</li>
                <li>Transmissão: Automática de 9 velocidades</li>
                <li>Consumo médio: 12 km/l na cidade, 16 km/l na estrada</li>
                <li>Assentos: 5</li>
                <li>Tecnologias de Assistência ao Motorista: Controle de cruzeiro adaptativo, frenagem automática de emergência, assistente de permanência na faixa.</li>
            </ul>
            <p>A BMW Série 3 2024 é um sedã esportivo que combina desempenho, tecnologia e luxo. Ideal para quem busca uma condução dinâmica e segura.</p>
        </section>

        <section id="especificacoes" class="center-content">
            <h3>Especificações Técnicas</h3>
            <table>
                <tr>
                    <th>Dimensão</th>
                    <td>4,71 m x 1,82 m x 1,43 m</td>
                </tr>
                <tr>
                    <th>Peso</th>
                    <td>1.550 kg</td>
                </tr>
                <tr>
                    <th>Capacidade do Porta-malas</th>
                    <td>480 litros</td>
                </tr>
                <tr>
                    <th>Combustível</th>
                    <td>Gasolina</td>
                </tr>
                <tr>
                    <th>Cor</th>
                    <td>Preto, Branco, Prata, Azul</td>
                </tr>
            </table>
        </section>

        <!-- Botão de Voltar para a página anterior -->
        <button onclick="window.history.back()" class="btn btn-custom center-content">Voltar aos veículos</button>
    </main>
{% endblock %}
