{% extends "base.html" %}
{% load static %}
{% block title %}Veículos - Rede Sigma{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/form/form.css' %}">

{% endblock %}
{% block content %}
<body>
    <div class="container">
        <h1>Clientes</h1>
       <a href="{% url 'cliente_create' %}" class="btn">Criar Novo {{ model_name }}</a>

        <!-- Tabela de {{ model_name }} -->
        <table class="clientes-table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>CELULAR</th>
                    <th>RENDA</th>
                    <th>Editar</th>
                    <th>Deletar</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                    <tr>
                        <td>{{ cliente.nome }}</td>
                        <td>{{ cliente.cpf }}</td>
                        <td>{{ cliente.celular }}</td>
                        <td>{{ cliente.renda }}</td>
                        <td><a href="{% url 'cliente_update' cliente.pk %}" class="btn edit-btn">Editar</a></td>
                        <td><a href="{% url 'cliente_delete' cliente.pk %}" class="btn delete-btn">Deletar</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
{% endblock %}
