{% extends "base.html" %}
{% load static %}
{% block title %}Veículos - Rede Sigma{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/form/form.css' %}">
{% endblock %}
{% block content %}
<body>
    <div class="container">
        <h1>Vendedores</h1>
       <a href="{% url 'vendedor_create' %}" class="btn">Adicionar novo vendedor</a>


        <!-- Tabela de {{ model_name }} -->
        <table class="clientes-table">
            <thead>
                <tr>
                    <th>codigo</th>
                    <th>nome</th>
                    <th>Editar</th>
                    <th>Deletar</th>
                </tr>
            </thead>
            <tbody>
                {% for vendedor in vendedores %}
                    <tr>
                        <td>{{ vendedor.codigo }}</td>
                        <td>{{ vendedor.nome }}</td>
                        <td><a href="{% url 'vendedor_update' vendedor.pk %}" class="btn edit-btn">Editar</a></td>
                        <td><a href="{% url 'vendedor_delete' vendedor.pk %}" class="btn delete-btn">Deletar</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
{% endblock %}
